<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!--四种警报的简明数据-->
<div class="row" th:fragment="wornNumber">
    <div class="col-md-3 col-sm-12 col-xs-12">
        <div class="board">
            <div class="panel panel-primary">
                <div class="number">
                    <h3>
                        <h3>44,023</h3>
                        <small>Daily Visits</small>
                    </h3>
                </div>
                <div class="icon">
                    <i class="fa fa-eye fa-5x red"></i>
                </div>

            </div>
        </div>
    </div>

    <div class="col-md-3 col-sm-12 col-xs-12">
        <div class="board">
            <div class="panel panel-primary">
                <div class="number">
                    <h3>
                        <h3>32,850</h3>
                        <small>Sales</small>
                    </h3>
                </div>
                <div class="icon">
                    <i class="fa fa-shopping-cart fa-5x blue"></i>
                </div>

            </div>
        </div>
    </div>

    <div class="col-md-3 col-sm-12 col-xs-12">
        <div class="board">
            <div class="panel panel-primary">
                <div class="number">
                    <h3>
                        <h3>56,150</h3>
                        <small>Comments</small>
                    </h3>
                </div>
                <div class="icon">
                    <i class="fa fa-comments fa-5x green"></i>
                </div>

            </div>
        </div>
    </div>

    <div class="col-md-3 col-sm-12 col-xs-12">
        <div class="board">
            <div class="panel panel-primary">
                <div class="number">
                    <h3>
                        <h3>89,645</h3>
                        <small>Daily Profits</small>
                    </h3>
                </div>
                <div class="icon">
                    <i class="fa fa-user fa-5x yellow"></i>
                </div>

            </div>
        </div>
    </div>

</div>

<!--最近12次数据的曲线图和柱状图-->
<div class="row" th:fragment="nowChart">
    <div class="col-sm-6 col-xs-12">
        <div class="panel panel-default chartJs">
            <div class="panel-heading">
                <div class="card-title">
                    <div class="title">Line Chart</div>
                </div>
            </div>
            <div class="panel-body">
                <canvas id="line-chart" class="chart"></canvas>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-xs-12">
        <div class="panel panel-default chartJs">
            <div class="panel-heading">
                <div class="card-title">
                    <div class="title">Bar Chart</div>
                </div>
            </div>
            <div class="panel-body">
                <canvas id="bar-chart" class="chart"></canvas>
            </div>
        </div>
    </div>
</div>

<!--四种警报的百分比饼状图-->
<div class="row" th:fragment="wornPieChart">
    <div class="col-xs-6 col-md-3">
        <div class="panel panel-default">
            <div class="panel-body easypiechart-panel">
                <h4>Profit</h4>
                <div class="easypiechart" id="easypiechart-blue" data-percent="82"><span
                        class="percent">82%</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-6 col-md-3">
        <div class="panel panel-default">
            <div class="panel-body easypiechart-panel">
                <h4>Sales</h4>
                <div class="easypiechart" id="easypiechart-orange" data-percent="55"><span class="percent">55%</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-6 col-md-3">
        <div class="panel panel-default">
            <div class="panel-body easypiechart-panel">
                <h4>Customers</h4>
                <div class="easypiechart" id="easypiechart-teal" data-percent="84"><span
                        class="percent">84%</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-6 col-md-3">
        <div class="panel panel-default">
            <div class="panel-body easypiechart-panel">
                <h4>No. of Visits</h4>
                <div class="easypiechart" id="easypiechart-red" data-percent="46"><span
                        class="percent">46%</span>
                </div>
            </div>
        </div>
    </div>
</div>

<!--近一周的每日两种警报数的曲线图和柱状图-->
<div class="row" th:fragment="weekChart">
    <div class="col-md-5">
        <div class="panel panel-default">
            <div class="panel-heading">
                Line Chart
            </div>
            <div class="panel-body">
                <div id="morris-line-chart"></div>
            </div>
        </div>
    </div>

    <div class="col-md-7">
        <div class="panel panel-default">
            <div class="panel-heading">
                Bar Chart Example
            </div>
            <div class="panel-body">
                <div id="morris-bar-chart"></div>
            </div>

        </div>
    </div>

</div>

<!--近十天的每日四种警报的曲线图和四种警报总计数值的占比饼状图-->
<div class="row" th:fragment="tenChartTotalWorn">
    <div class="col-md-9 col-sm-12 col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Area Chart
            </div>
            <div class="panel-body">
                <div id="morris-area-chart"></div>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-12 col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Donut Chart Example
            </div>
            <div class="panel-body">
                <div id="morris-donut-chart"></div>
            </div>
        </div>
    </div>

</div>

</html>