<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta content="" name="description"/>
    <meta content="webthemez" name="author"/>
    <title>BRILLIANT Free Bootstrap Admin Template</title>
    <!-- Bootstrap Styles-->
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet"/>
    <!-- FontAwesome Styles-->
    <link th:href="@{/css/font-awesome.css}" rel="stylesheet"/>
    <!-- Morris Chart Styles-->
    <link th:href="@{/js/morris/morris-0.4.3.min.css}" rel="stylesheet"/>
    <!-- Custom Styles-->
    <link th:href="@{/css/custom-styles.css}" rel="stylesheet"/>
    <!-- Google Fonts-->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'/>
    <link rel="stylesheet" th:href="@{/js/Lightweight-Chart/cssCharts.css}">
</head>

<body>
<div id="wrapper">
    <div th:replace="~{commons/commons::topnav}"></div>
    <!--/. NAV TOP  -->
    <div th:replace="~{commons/commons::sidenav(active='index.html')}"></div>
    <!-- /. NAV SIDE  -->

    <div id="page-wrapper">
        <div class="header">
            <h1 class="page-header">
                仪表盘 <small>Welcome back</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#">首页</a></li>
                <li><a href="#">仪表盘</a></li>
                <li class="active">数据</li>
            </ol>

        </div>
        <div id="page-inner">

            <div th:replace="~{commons/chartComm::wornNumber}"></div>
            <div th:replace="~{commons/chartComm::nowChart}"></div>
            <div th:replace="~{commons/chartComm::wornPieChart}"></div>
            <div th:replace="~{commons/chartComm::weekChart}"></div>
            <div th:replace="~{commons/chartComm::tenChartTotalWorn}"></div>

            <footer><p>Copyright &copy; 2016.Company name All rights reserved.<a target="_blank"
                                                                                 href="https://www.webmoban.net">&#x7F51;&#x9875;&#x6A21;&#x677F;</a>
            </p>
            </footer>
        </div>
        <!-- /. PAGE INNER  -->
    </div>
    <!-- /. PAGE WRAPPER  -->
</div>
<!-- /. WRAPPER  -->
<!-- JS Scripts-->
<!-- jQuery Js -->
<script th:src="@{/js/jquery-1.10.2.js}"></script>
<!-- Bootstrap Js -->
<script th:src="@{/js/bootstrap.min.js}"></script>

<!-- Metis Menu Js -->
<script th:src="@{/js/jquery.metisMenu.js}"></script>
<!-- Morris Chart Js -->
<script th:src="@{/js/morris/raphael-2.1.0.min.js}"></script>
<script th:src="@{/js/morris/morris.js}"></script>


<script th:src="@{/js/easypiechart.js}"></script>
<script th:src="@{/js/easypiechart-data.js}"></script>

<script th:src="@{/js/Lightweight-Chart/jquery.chart.js}"></script>

<!-- Custom Js -->
<script th:src="@{/js/custom-scripts.js}"></script>


<!-- Chart Js -->
<script type="text/javascript" th:src="@{/js/chart.min.js}"></script>
<script type="text/javascript" th:src="@{/js/chartjs.js}"></script>

</body>

</html>